# **Definição do problema**

# Definição do Objetivo
A representação feminina nos bastidores de hollywood, embora em tendência ascendente, também não tem sido maravilhosa. Segundo a Forbes, “Entre 2008 e 2022, houve 325 nomeações para diretores em grandes eventos de premiação – apenas 8,9% dessas nomeações foram dadas a diretoras. Num estudo patrocinado pela Universidade Estadual de San Diego com foco nos 250 filmes de maior bilheteria de 2021 nos EUA, apenas 25% dos papéis nos bastidores foram preenchidos por mulheres. A porcentagem de editoras era de 22% e ainda menor, de 17% para diretores e roteiristas. O número de diretoras de fotografia era péssimo, seis em cada 100. Quando se trata de cargos de alto nível em mídia e entretenimento, apenas 27% são ocupados por mulheres. ”

Atualmente, diante do sucesso do filme “Barbie” e das grandes produções realizadas por diretoras neste ano, o questionamento a seguir surgiu como objetivo de investigação:

***Vale a pena investir no trabalho realizado por mulheres em filmes?***


Este trabalho usa um dataset gerado ao final do arquivo "Sprint_2_MVP_filmes.ipynb", "df_.csv". Tal trabalho foi realizado na Sprint Análise de dados e boas práticas, ministrada pela PUC Rio.

[O trabalho pode ser encontrado nesta página](https://github.com/anakrol72/analise_de_dados_e_boas_praticas)

# Importando pacotes

In [1]:
# Configuração para não exibir os warnings
import warnings
warnings.filterwarnings("ignore")

# Importação de pacotes
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import cm
import statsmodels.api as sm
import statistics

from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Informa a URL de importação do dataset
url_df = 'https://raw.githubusercontent.com/anakrol72/machine_learning/main/df_.csv'

In [3]:
#df = pd.read_pickle(url_df)
df = pd.read_csv(url_df)

In [4]:
df

,title,year,actors_count,actresses_count,producer_count_male,producer_count_female,director_count,directress_count,averageRating,numVotes,...,Sci-Fi,Sport,History,Biography,Mystery,Film-Noir,Adult,revenue_budget,class,moviesByYear
0,alone_with_her,2006,5,7,2,0,1,0,6.0,4164,...,0,0,0,0,0,0,0,0.010018,0,107
1,harley_davidson_and_the_marlboro_man,1991,26,11,3,1,1,0,6.1,21690,...,0,0,0,0,0,0,0,0.323249,0,20
2,the_pirate,1948,25,19,1,0,1,0,6.9,5395,...,0,0,0,0,0,0,0,0.798919,0,2
3,12_angry_men,1957,17,0,3,0,1,0,9.0,832561,...,0,0,0,0,0,0,0,2.857143,1,1
4,the_nun's_story,1959,12,27,2,0,1,0,7.5,11415,...,0,0,0,0,0,0,0,3.657143,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1937,mission:_impossible,1996,37,15,3,1,1,0,7.1,457448,...,0,0,0,0,0,0,0,5.721204,1,55
1938,super_troopers,2001,27,12,8,2,1,0,7.0,110158,...,0,0,0,0,1,0,0,6.164121,1,101
1939,the_pursuit_of_happyness,2006,87,22,10,0,1,0,8.0,542396,...,0,0,0,1,0,0,0,5.583224,1,107
1940,he's_just_not_that_into_you,2009,51,71,3,4,1,0,6.4,179402,...,0,0,0,0,0,0,0,4.431486,1,103
1941,the_wrestler,2008,93,22,7,2,1,0,7.9,315351,...,0,1,0,0,0,0,0,7.450666,1,103

In [10]:
#colunas do dataframe
df.columns

Index(['title', 'year', 'actors_count', 'actresses_count',
       'producer_count_male', 'producer_count_female', 'director_count',
       'directress_count', 'averageRating', 'numVotes', 'budget', 'revenue',
       'actress_percent', 'actors_percent', 'women_directing_percent',
       'men_directing_percent', 'women_producing_percent',
       'men_producing_percent', 'Animation', 'Family', 'Fantasy', 'Musical',
       'Romance', 'Music', 'Adventure', 'Drama', 'Crime', 'Thriller',
       'Documentary', 'Horror', 'Action', 'Western', 'Comedy', 'War', 'Sci-Fi',
       'Sport', 'History', 'Biography', 'Mystery', 'Film-Noir', 'Adult',
       'revenue_budget', 'class', 'moviesByYear'],
      dtype='object')

# **Descrição do dataset**

* title : 
* year :
* actors_count : 
* actresses_count :
* producer_count_male :
* producer_count_female :
* director_count :
* directress_count :
* averageRating :
* numVotes :
* budget :
* revenue :
* actress_percent :
* actors_percent :
* women_directing_percent :
* men_directing_percent :
* women_producing_percent :
* men_producing_percent :
* Animation :
* Family :
* Fantasy :
* Musical :
* Romance :
* Music :
* Adventure :
* Drama :
* Crime :
* Thriller :
* Documentary :
* Horror :
* Action :
* Western :
* Comedy :
* War :
* Sci-Fi :
* Sport :
* History :
* Biography :
* Mystery :
* Film-Noir :
* Adult :
* revenue_budget :
* class :
* moviesByYear :